/* cascading stylesheets for styling elements on rav3ndust.xyz */  

    .heading1 {
        background-color: black;
        color: white;
        text-align: center;
        font-size: 42px;
    }

       .navBar {		/* navigation bar on main site pages */
        background-color: black;
        text-align: center;
        font-size: 32px;
        color: white;
    }

    .br2 {
        background-color: white;
        text-align: center;
        font-size: 24px;
	color: black;
    }

    footer {		/* footer for main site pages */
        background-color: black;
        color: white;
        text-align: center;
    }

    body {
	color: black;
        font-size: 24px;
    }

    .code2 {
        background-color: gray;
        color: black;
        text-align: center;
    }

    .headers { 		/* red on black headers */
	    text-align: left;
	    background-color: black;
	    color: red;
    }

   .blogheader {	/* header for blog articles */
	   text-align: center;
	   color: red;
	   background-color: black;
   }

   .blogfooter {	/* footer for blog articles */
	   text-align: center;
	   color: white; 
	   background-color: black;
   } 
